extends templates/template.pug

append config
    -siguenos = False

block main
    h1 Bienvenidos
    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium quidem officiis ex corrupti illum autem fugit nesciunt cumque ea eveniet modi aut doloribus placeat, corporis quia velit exercitationem soluta? Possimus.Vitae exercitationem ab rem, error reiciendis incidunt velit architecto a optio atque, quisquam, non nesciunt ipsam libero nulla necessitatibus autem! Exercitationem, voluptate eos voluptatum delectus odio veritatis maiores numquam officia?Cumque eius, provident nostrum facere voluptate enim officia unde iste sequi maiores veritatis itaque natus magnam saepe qui nobis animi doloribus similique ipsum, odio iure sit est perferendis! Nulla, provident.

block footer
    include blocks/siguenos.pug