.main-nav
    header.main-nav__header
        .main-nav__user
            img(src="img/user.png" width="100").main-nav__user__img
            .main-nav__user__data
                .main-nav__user__name Jairo Cortes
                .main-nav__user__bio Profesor de Escuela Digital

    include _menu