-pages = ["Cursos", "Blog", "FAQ", "Horarios", "Live", "Inicia Sesión"]
-title = "Blog"
-site_Title = "Github"
-description = "Conoce las últimas noticias del mundo de la tecnología"
-description_slider = ["Consejos que aumentarán el trabajo desde tu casa"]
-author_slider = ["Leticia"]
-date_slider = ["abril 20 2017"]
-numb_pages = ["1", "2", "3"]