article.description_slider
    each description in description_slider
        h2.description #{description}
    footer
        each author in author_slider
            p.author #{author}
        each date in date_slider
            p.date #{date}
