extends templates/template.pug
append config
    -pageTitle = "contacto"
    -description = "Contacta con nosotros lo más rápido posible"
    -currentPage = "contacto"

block footer
    include blocks/siguenos.pug