// Vista de curso

.course-page{
  margin-top: 50px;
}

.course-header{
  position: relative;
  margin-bottom: 3em;

  &::before{
    content: "";
    display: block;
    width: 100%;
    height: rem(40px);
    background: rgba(#000, .5);
    position: absolute;
    bottom: 56px;
  }

  &__teacher{
    margin-top: -50px;
    padding: 0 $gutter;
    display: flex;
    height: rem(100px);
    position: relative;
    z-index: 500;

    &__img{
      width: rem(100px);
      border-radius: 50%;
      box-shadow: 0 0 0 1px color(gris-claro);

    }
    &__data{
      display: flex;
      flex-direction: column;
      padding-left: $gutter;
      align-items: flex-start;
      margin-top: .3em;
    }

    &__ask {
      margin-top: auto;
    }

    &__name {
      font-size: 1.3em;
      color: color(blanco);
      margin-top: .4em;

      small {
        font-size: .7em;
        margin-left: .5em;
        opacity: .6
      }
    }
  }
}
.content{
  padding: 0 $gutter;
}

.course-content{
  &__item {
    padding: .7em 0;
    border-bottom: 1px solid color(gris-claro);
  }
}